/*  your css code here. If applicable */
.body{
	background-color:#f5f5f5;
}
.head{
	height:70px;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:#011e29;
	color:white;
}
.body{
	display:flex;
	height:400px;
}
.latest-news-section{
	background-color:white;
	color:black;
	border-radius:8px;
	margin-left:20px;
	margin-top:7px;
	margin-right:5px;
	height:fit-content;
	padding:10px;
	width:200px;
}
.article{
	width:300px;
	background-color:white;
	color:black;
	border-radius:8px;
	margin-top:7px;
	margin-right:5px;
	height:fit-content;
	padding:10px;
	text-align:center;
}
.pictorial-news-section{
	background-color:white;
	color:black;
	border-radius:8px;
	margin-right:20px;
	margin-top:7px;
	height:fit-content;
	padding:10px;
	width:150px;
}
.pictorial-news-section img{
	width:130px;
}
